[submodule "themes/559Theme"]
	path = themes/559Theme
	url = git@github.com:CS559/559Theme.git
	branch = master
[submodule "static/559-Lib"]
	path = static/559-Lib
	url = git@github.com:CS559/CS559-Lib.git
[submodule "static/libs/CS559-Three"]
	path = static/libs/CS559-Three
	url = git@github.com:CS559/CS559-Three25.git
[submodule "static/libs/CS559-Framework"]
	path = static/libs/CS559-Framework
	url = git@github.com:CS559/CS559-Framework25.git
[submodule "static/libs/CS559"]
	path = static/libs/CS559
	url = git@github.com:CS559/CS559-Lib.git
